body {
    background: url(../images/bg2.png);
  background-size: 100% auto;
  font-family: 'Roboto', sans-serif!important;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Navbar */
.addtofav {
    cursor: pointer;
}
.navbar-travel .navbar-brand {
    padding:0 15px;
}

.navbar-travel {   
    background: url(../images/topmenu.jpg) repeat-x;
    border-radius: 0;
    border:0;
    line-height: 50px;
    color: #fff;
}
#addtofav
{
    cursor: pointer;
}
.navbar-travel .navbar-nav>li>a:focus, .navbar-travel .navbar-nav>li>a:hover {
    color: #fff;
}

.navbar-travel .navbar-nav>li>a {
    color: #fff;
}

.navbar-travel .logout {
    padding: 10px 15px;
}

.countries_1 {
    border-radius: 20px;
    padding: 0px 10px;
    height: 25px;
}

.status_full_texts{
    display: block!important;
  margin: -160px auto 0;
  background: #fff;
  width: 50%;
  padding: 15px;
  position: absolute;
  z-index: 99;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  }

/* Sidebar */

#leftmenu ul {
    background: #283b47;
    padding:5px 10px;
}

#leftmenu li {
    padding: 5px;
    border-bottom: 1px dotted #b2b2b2;
    color: #fff;
    line-height: 20px;
    opacity: 0.8;
    font-size: 13px;
}

#leftmenu li span {
    margin-right: 10px;   
}

#leftmenu li a {
    color: #fff;   
}

/* Profile */

#profile-avatar {
    text-align: center;
    margin: 20px 0;
}

#avatar-top, .userblock {
    text-align: center; 
    background: #fff;
    border-radius:20px;
    padding:5px;
    /*position:relative;*/
    border:1px solid #b2b2b2;
    margin-top:70px;
    padding-top:60px;
}
#avatar-top .user_logo_img img
{
    cursor: pointer;
  max-width: 150px;
  min-height: 150px;
  min-width: 150px;
}
#avaloadform2
{
    display: none;
}
.list-inline>li {
    display: inline-block;
    padding: 5px;
}
.media button{
    border-radius: 50%;
    display: inline-block;
}
.surprices button {
    border-radius: 20px;
    font-size: 11px;
    display: inline-block;
    padding: 3px;
}
#avaloadform input[type="submit"] {
    z-index: 99999;
    position: relative;
    margin: 60px 0 -60px 0;
    display: none;
    border-radius: 10px;
}
.user_logo_img {
	margin: -120px auto 0;
	width: 150px;
	border-radius: 50%;
	overflow: hidden;
	height: 150px;
}
.userblock img, .user_logo_img .poster {
    width: 100%;
    border-radius: 50%;
    margin-top: -120px;
    left: 10px;
    width:150px;
	height:150px;
}

.user_logo_img .poster {
	background-size: cover !important;
	margin-top:0;
	background-position: 50% 0;
}

#avatar-top h3, #avatar-top h4, .userblock h3, .userblock h4 {
    font-weight: normal;
    text-decoration: none;
}
a.poputchik {
    text-decoration: none;
}
#avatar-top h3, .userblock h3 {
    font-size:18px;
    color: #adadad;
}


#avatar-top h4, .userblock h4 {
    font-size:16px;
    color: #bcbcbc;
}

.btn-add, .btn-blue {
    background: #85c4ec;
    color: #fff;
    padding:5px;
    border-radius:5px;
    outline:0;
    border:0;
}

.btn-blue {
    background: #283b47;
}

#profile-avatar .settings .btn-blue {
    padding: 10px 15px;   
}

.btn-blue:hover {
    color: #bbdef5;   
}

#avatar-top .edit_link {
    color: #7a7a7a;
    font-size:13px;
    margin-top:10px;
    display:block;
    margin-bottom:5px;
}

#profile-avatar .balance {
    color: #85c4ec;
    line-height: 30px;
}

#profile-avatar .settings .settings-item {
    background: #fff;
    border: 1px solid #b2b2b2;
    padding:5px;
    padding-left:30px;
    color: #878787;
    font-size:12px;
    position: relative;
    border-radius:5px;
    margin-bottom: 10px;
}

#profile-avatar .settings .settings-item button {
    position: absolute;
    top:15%;
    left:-20px;
    width: 45px;
}
#submit_over {
    position: relative;
}
#submit_status {
    background: #fff;
    padding:15px;
    position: relative;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    z-index: 10;
}
div#my_notifications {
    position: fixed;
    z-index: 25;
    float: right;
    margin: 20px;
    right: 0;
}
#submit_status span {  
    background: url('../images/left-arrow.png') no-repeat;
    top:20px;
    position: absolute;
    left:-10px;
    display:block;
    width:12px;
    height:21px;
}

#submit_status input {
    outline:0;
    border:0;
    width:100%;
    color:#d5d5d5;
    padding:5px;
}

#submit_over .btn-add {
    position:absolute;
    bottom:-25px;
    right:0;
    border-radius:0 0 10px 10px;
    padding:10px 15px 3px 15px;
}
.seasons-list li {
    float: left;
    margin: 0 10px 10px 0;
}
.season {
    line-height:40px;
    border-radius:10px;
    outline: 0;
    background: #fff;
    border:1px solid #ddd;
    border-bottom:3px solid #ddd;
}
.spring {
    border-bottom:3px solid #9eff92;   
}
.spring:hover {
    background: #9eff92;
    border-color:#9eff92;
}
.autumn {
    border-bottom:3px solid #fba960;  
}
.autumn:hover {
    background: #fba960;  
    border-color:#fba960;
}
.summer {
    border-bottom:3px solid #fff55d;  
}
.summer:hover {
    background: #fff55d;
    border-color:#fff55d;
}
.winter {
    border-bottom:3px solid #a4d3f1;  
}
.winter:hover {
    background: #a4d3f1; 
    border-color:#a4d3f1;
}

.selected_list li {
    float:left;
    margin:0 10px 5px 0;
    background:#f2f2f2;
    border:1px solid #b2b2b2;
    padding:5px;
    border-radius: 5px;
}
.surprices li {
    margin-bottom: 10px;
}
.about-well {
    width:90%;
    padding:10px;
    min-height: 150px;
    background: #fff;
    border:1px solid #b2b2b2;
    border-radius:10px;
    margin-bottom:20px;
    font-size:13px;
    position:relative;
}
.table-about td {
    border-top:0 !important;
    border-bottom:1px dotted #ddd;
    font-size:13px;
    color:#b2b2b2;
}
.sign {
    background: #85c4ec;
    width:170px;
    height:170px;
    color:#fff;
    text-align: center;
    border-radius:50%;
    position: absolute;
    top:-10px;
    right:-40px;
}
.sign .inner {
    padding-top: 30px;
}
.edit_link {
    color: #b2b2b2;
}
.userblock {
    margin: -90px 0px 40px 0px;
    height: 150px;
}
.userblock h3 {
    font-size:16px;
    margin: 30px 0 0px 0;
}
.userblock h4 {
    font-size:14px;
    margin: 0 0 10px 0;
}

.vippoputchiki {
    width: 75%;
    height: 280px;
    overflow-x: hidden;
    background: none;
    display: inline-block;
    overflow-y: hidden;
    margin: 0 0 10px 0;
}
.backward, .forward {
    /*color: #b2b2b2;
    font-size: 20px;
    vertical-align: top;
    display: inline-block;
    cursor: pointer;
    padding: 10px 20px;
    position: relative;
    border: 1px solid #b2b2b2;
    border-radius: 50%;*/

    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    margin-top: 100px;

}
.forward {
    margin-left: -4px;
    margin-right: 4px;
}
.backward
{
    margin: 100px -4px 0 4px;
}
/*
.backward:hover, .forward:hover {
    color: white;
    background: #b2b2b2;
    border: 1px solid #b2b2b2;
}

.forward {
    margin: 130px 0 0 10px;
}*/
.navigations {
    position: absolute;
    margin: -40px 0 0 20px;
}
.horizontal {
    display: table;
    table-layout: fixed;
    margin-top: 10px;
    width: 100%;
}
.poputchik2{
    margin: -20px 20px 40px 20px;
    vertical-align: top;
    width: 180px;
    height: 240px;
    display: table-cell;
    position: relative;
    background: none;
    text-align: center;
}

.poputchik2 img {
	width: 130px !important;
	height:130px !important;
}

.poputchik{
    margin: -20px 20px 40px 20px;
    vertical-align: top; 
    width: 180px;
    height: 240px;
    display: table-cell;
    padding-right: 20px;
    position: relative;
    background: none;
    text-align: center;
}
.poputchik:first-child
{
    margin: -20px 20px 40px 0px;
}

/*              STATUSES            */
.statuses_1 a img {
    width: 100%;
    border-radius: 20px;
    min-height: 150px;
    max-width: 150px;
}
.statuses_1 a div:nth-child(2) {
    font-size: 15px;
    text-align: center;
    margin: 5px;
}
.statuses_1_img {
    height: 120px;
    width: 120px;
    overflow: hidden;
    border-radius: 20px;
    margin: 0 auto;
}
.statuses_1_img3 img, .statuses_1_img3 .poster
 {
    max-width: 130px;
    min-height: 130px;
    min-width: 130px;
	width:130px;
	height:130px;
}

.chat_left_c {
	height: 430px;
    overflow-y: auto;
}

.statuses_1_img3 .poster {
	background-size: cover !important;
	margin-top:0;
	background-position: 50% 0;
}

.statuses_1_img3 {
    width: 130px;
    border-radius: 50%;
    margin: 0 auto;
    overflow: hidden;
	position: relative;
    height: 130px;
}
.statuses_1_img2 {
    width: 100%;
    border-radius: 20px;
    margin: 0 auto;
    /* overflow: hidden; */
    max-width: 150px;
    max-height: 150px;
}

.statuses_user_img img
{
    max-width: 150px;
    cursor: pointer;
}
.statuses_user_img {
    height: 100px;
    width: 100px;
    overflow: hidden;
}
.statuses_1 {
    width: 40%;
    vertical-align: top;
    text-align: center;
    display: inline-block;
}
.statuses_2 {
    width: 55%;
    display: inline-block;
    margin: 0px 0px 10px 10px;
}
.statuses_2 div
{
    overflow: hidden;
    
}
.statuses_2 div:first-child {
    vertical-align: top;
      cursor: pointer;
    background: #fff;
    padding: 15px;
    position: relative;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    height: 170px;
}
.statuses_2 span
{
    background: url('../images/left-arrow.png') no-repeat;
    top: 20px;
    position: absolute;
    left: -10px;
    display: block;
    width: 12px;
    height: 21px;
}
.statuses_likes {
    text-align: right;
    padding: 5px;
}
.statuses_2 img {
    cursor: pointer;
}
.statuses {
	/*
    width: 32%;
    margin: 0px 10px 20px 0;
    display: inline-block;
	*/
	margin-bottom:10px;
}
.stattitle
{
    font-size: 22px;
    width: 47%;
    text-align: left;
    padding: 20px 0;
    display: inline-block;
}
.searchfield
{
    display: inline-block;
    text-align: right;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 50%;
    vertical-align: top;
    padding: 10px 10px;
}
.searchstats
{
    vertical-align: top;
    background: #fff;
    padding: 4px 31px;
    position: relative;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
}
.searchfield span
{
    background: url('../images/searchstats.png') no-repeat;
    position: absolute;
    display: block;
    right: 30px;
    width: 16px;
    height: 16px;
    top: 5px;
}
.activ_settings_items
{
    box-shadow: 0px 0px 10px #85c4ec;
    background: #104E8B;
}
.sign>.inner img {
    display: block;
    margin: 5px auto 0;
}

/*              interes         */
.interes_2 {
    display: inline-block;
    width: 49%;
    margin: 15px 0;
}
.interes_2 div {
    display: inline-block;
    margin: 0 10px;
}
.interes_title {
    font-weight: 700;
    margin-top: 10px;
}
.interes_2 select {
    max-width: 145px;
    width: 100%;
}
.interes_3 {
    margin: 15px 0;
}
.interes_3 div {
    display: inline-block;
    margin: 0 10px;
}

/*          ползунок            */
/* Ширина слайдера */
#slider {
    width: 200px;
}
/* Контейнер слайдера */
.ui-slider {
    position: relative;
}
/* Ползунок */
.polzunok input {
    display: inline-block!important;
    width: 49%!important;
    text-align: center!important;
    font-size: 11px!important;
}
/*
.ui-slider-horizontal .ui-slider-range
{
    display: none!important;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 1px solid black!important;
    background: white!important;
    border-radius: 50%!important;
}
.ui-widget-content {
    border: 0!important;
    background: #283b47!important;
}
.ui-slider-horizontal .ui-slider-handle {
    top: -0.4em!important;
}
.ui-slider-horizontal {
    height: 4px!important;
}
.ui-slider .ui-slider-handle
{
    width: 15px!important;
    height: 15px!important;
}
*/
.interes_1.polzunok {
    width: 80%;
    margin: 10px 0;
}

ul#goodImages li {
    display: inline-block;
    padding: 10px;
}
ul#goodImages li a {
    position: absolute;
    margin: 0 0 0 -10px;
    /*background: #FF4040;

    padding: 2px 5px;*/
}
.avatars
{
    display: inline-block;
    width: 100px;
}

.statuses_likes div {
    display: inline-block;
    margin: 0px 10px -5px 10px;
    cursor: pointer;
}


.selected_list li span {
    position: absolute;
    cursor: pointer;
    margin: -9px 0px 0px -2px;
    font-size: 10px;
}
/*              POPUP           */
.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 0;
    cursor: default;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 99999;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}
.popup {
    background-color: #fff;
    border: 3px solid #fff;
    display: inline-block;
    left: 50%;
    opacity: 0;
    padding: 15px;
    position: fixed;
    text-align: justify;
    top: 40%;
    visibility: hidden;
    z-index: 999999;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: opacity .5s, top .5s;
    -moz-transition: opacity .5s, top .5s;
    -ms-transition: opacity .5s, top .5s;
    -o-transition: opacity .5s, top .5s;
    transition: opacity .5s, top .5s;
    border-radius: 11px;
}
.popup .close_window {
    position: absolute;
    padding: 0px 7px 3px 7px;
    top: -15px;
    right: -15px;
    cursor: pointer;
    color: #fff;
    font-family: 'tahoma', sans-serif;
    background-color: black;
    border: 1px solid #061fb8;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.5);
}
.popup .close_window:hover {
    background: -webkit-gradient(linear, left top, right top, from(#051fb8), to(#3d51c8));
    background: -webkit-linear-gradient(top, #051fb8, #3d51c8);
    background: -moz-linear-gradient(top, #ff5f0, #3d51c87);
    background: -o-linear-gradient(top, #051fb8, #3d51c8);
    background: -ms-linear-gradient(top, #051fb8, #3d51c8);
    background: linear-gradient(top, #051fb8, #3d51c8);
    background-color: #051fb8;
    border: 1px solid #00385E;
}
.popup .close_window:active {
    background: #8f9be0;
}
.popupgifts img
{
    cursor: pointer;
}
.statuses_user_img> .statuses_likes, .media .statuses_likes {
    position: absolute;
    padding: 0px;
    z-index: 9999;
    background: white;
}

/*          CHAT        */
.chat_left_ava img {
    width: 100%;
    min-height: 45px;
    max-width: 45px;
}
.chat_left_text {
    width: 125px;
    vertical-align: top;
    padding-left: 10px;
}
.chat_left_ava {
    height: 45px;
    width: 45px;
    overflow: hidden;
    border-radius: 10px;
    margin: 0 auto;
	z-index:1000;
	position:relative;
    display: inline-block;
    border: 1px solid #cdcfd0;
}
.chat_left_ava img
{
    max-width: 45px;
}

.chat_left_i_s {
	z-index: 1000;
    position: relative;
}

.chat_left_i_s span
{
    background: url("../images/avaliable.png");
    width: 9px;
    height: 9px;
    display: inline-block;
}
.chat_left_imya {
    display: inline-block;
}
.chat_left_c > ul > li div {
    display: inline-block;
}
.chat_top2
{
    background: #283b47;
    height: 55px;
    width: 100%;
    color: white;
    padding: 20px;
    border-top-right-radius: 10px;
}
.chat_top {
    background: #283b47;
    height: 55px;
    width: 100%;
    border-top-left-radius: 10px;
}
.chat_left_h {
    background: #ecf0f2;
    color: #b5c0c5;
    padding: 10px;
}
.chat_left_c li {
    background: #ecf0f2;
    padding: 10px;
    vertical-align: top;
    border-right: 1px solid #dbdde0;
}
.chat_left_stat {
    color: #b5c0c5;
}
.chat_activ
{
    background: white!important;
    border-bottom: 1px solid #dbdde0;
    border-right: none!important;
    border-top: 1px solid #dbdde0;
}
.chat_right_b
{
    background: #283b47;
    height: 80px;
    padding: 1px 0;
    width: 100%;
}
.chat_right_input {
    padding: 20px;
    margin: 20px;
    width: 95%;
}
.right_input_smile, .right_input_send
{
    display: inline-block;
    width: 29px;
    height: 29px;
    float: right;
    margin: -55px 30px 0 0;
    cursor: pointer;
}
.right_input_send
{
    background: url("../images/chat_input_enter.png");
}
.right_input_smile
{
    margin: -55px 70px 0 0;
    background: url("../images/chat_input_smile.png");
}
.chat_right_more
{
    color: #b5c0c5;
    background: white;
    padding: 20px;
}
.chat_right_more span
{
    background: url("../images/indicator.png");
    width: 8px;
    height: 8px;
    display: inline-block;
}
.chat_right_sms_block span
{
    background: url("../images/span.png");
    width: 13px;
    height: 17px;
    position: absolute;
    margin: -10px 0 0 -32px;
}
.chat_right_sms {
    background: white;
    padding: 20px;
}
.chat_right_sms_block {
    display: inline-block;
    vertical-align: top;
    border: 1pt solid #eaebed;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    margin-left: 10px;
}
.chat_right_sms_block_1 {
    color: #b5c0c5;
}
.chat_left_ava span
{
    background: url("../images/spanmy.png");
    width: 13px;
    height: 17px;
    position: absolute;
    margin: 7px 0 0 -17px;
}
.chat_right_sms {
    background: white;
    padding: 20px;
}
.chat_right_sms_block_my {
    display: inline-block;
    vertical-align: top;
    border: 1pt solid #eaebed;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    margin-right: 10px;
    background: #f6f8f9;
}
.chat_right_sms_block_my_1 {
    color: #b5c0c5;
}
.chat_right_all_sms
{
    height: 391px;
	overflow-y:scroll;
}
.chat_right_all_sms_1
{
    height: 550px;
}

.mainlink {
	position: absolute;
	top: 0;
	left: 0;
	width:100%;
	height:100%;
}
a.poputchik2:hover
{
    text-decoration: none;
}
.about {
    margin-top: 40px;
}

.modal-pop .modal-header {
	background:url('../images/topmenu.jpg') repeat-x;
	color:#fff;
}

.navbar-brand img {
	display:inline-block;
}

.navbar-brand span {
	color: #fff;
	margin-left:5px;
}

.navbar-brand:hover span {
	border-bottom:1px dashed #ddd;
}

/* Phones */
@media screen and (max-width: 767px){

	.backward, .forward {
		position: absolute;
		top:0px;
	}

	.vippoputchiki {
		width:200px;
	}
	
	.backward {
		left:6%;
	}
	
	.forward {
		right:13%;
	}
	
	.mobilewanter {
		position: absolute;
		top:0;
		right:0;
	}
	
}