.container,.col-sm-12 {
        max-width: 960px;
    }
    .content
    {
        text-align: center;
    }
    body
    {
        background: url(../images/bg.png);
        background-size: 100% 100%;
    }
    .navbar-travel
    {
        padding: 9px;
        background: #283b47;
    }
    .login, .reg
    {
        font-size: 20px;
    }
    a.login {
        color: #fff;
    }
    .c_1, .c_2
    {
        width: 420px;
        vertical-align: middle;
        text-align: center;
        margin: 130px 10px 120px 10px;
        color: #fff;
        display: inline-block;
    }
    .c_1_1,.c_1_2,.c_1_3,.c_1_4
    {
        padding: 10px;
    }
    .c_1_3
    {
        background: #fff;
        width: 170px;
        height: 3px;
        padding: 0;
        text-align: center;
        margin: 0 auto 0;
    }
    .c_1_2
    {
        font-size: 80px;
    }
    .c_1_4
    {
        font-size: 20px;
        padding-top: 30px;
    }
    .login>.btn.btn-sm ,.reg>.btn.btn-sm{
        border: 1px solid white;
        padding: 7px 17px;
        color: white;
    }
    .footer
    {
        
        background: #181818;
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .footer div
    {
        max-width: 960px;
        text-align: right;
        margin: 0 auto;
    }
    .footer div a
    {
        color: #fff;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        padding: 6px;
    }
    .c_2_1 {
        background: #283b47;
        font-size: 30px;
        border-top-left-radius: 15px;
        line-height: 30px;
        padding: 60px 30px;
        border-top-right-radius: 15px;
    }
    .c_2_2 {
        background: #fff;
        padding: 25px;
    }
    .c_2_2 input {
        padding: 24px;
        margin-top: 20px;
        border-radius: 10px;
    }
    .c_2_2 input[type=submit] {
        background: #283b47;
        color: #fff;
        padding: 11px;
        font-size: 20px;
        height: auto;
    }
    .c_2_2_1 a,  .c_2_2_1 div, .c_2_2_1 input {
        display: inline-block;
        color: #283b47;
    }
    input[type=checkbox] {
        width: 20px;
        height: 20px;
        box-shadow: none!important;
        border-radius: 50%!important;
        vertical-align: bottom;
        margin: 0px 0 3px 0;
        background: #fff;
    }
    .c_2_2_1 div {
        text-align: left;
        margin-left: 80px;
    }
    .c_2_2_1 a
    {
        text-decoration: underline;
    }
    .c_2_2_1 {
        font-size: 20px;
        margin-top: 10px;
        vertical-align: top;
        text-align: left;
    }
    .c_2_3 {
        background: #283b47;
        border-bottom-right-radius: 15px;
        line-height: 30px;
        padding: 25px;
        border-bottom-left-radius: 15px;
    }
    .c_2_3_1 {
        font-size: 20px;
        margin: 0 0 10px 0;
    }
    .c_2_3_2 a {
        background: #2765a4;
        padding: 12px 10px;
        text-decoration: none;
        margin: 10px 5px;
        border-radius: 10px;
        font-size: 11px;
        color: white;
    }
    .c_2_3_2 a:nth-child(2)
    {
        background: #eebf41;
    }
    .c_2_3_2 a:nth-child(3)
    {
        background: #3d96cf;
    }
    .c_2_3_2 a img {
        margin: 0 20px 0 -5px;
    }
    .c_2_3_2 a:nth-child(2) img {
        margin: 0 20px 0 -5px;
    }
    .c_2_3_2 a:nth-child(3) img {
        margin: 0 15px 0 -5px;
    }