body {
    background: url(../images/bg.jpg);
}

/* Navbar */

.navbar-travel .navbar-brand {
    padding:0 15px;
}

.navbar-travel {   
    background: url(../images/topmenu.jpg) repeat-x;
    border-radius: 0;
    border:0;
    line-height: 50px;
    color: #fff;
}

.navbar-travel .navbar-nav>li>a:focus, .navbar-travel .navbar-nav>li>a:hover {
    color: #fff;
}

.navbar-travel .navbar-nav>li>a {
    color: #fff;
}

.navbar-travel .logout {
    padding: 10px 15px;
}

/* Sidebar */

#leftmenu ul {
    background: #283b47;
    padding:5px 10px;
}

#leftmenu li {
    padding:5px;
    border-bottom:1px dashed #b2b2b2;
    color: #fff;
    line-height:20px;
    font-size:13px;
}

#leftmenu li span {
    margin-right: 10px;   
}

#leftmenu li a {
    color: #fff;   
}

/* Profile */

#profile-avatar {
    text-align: center;
}

#avatar-top, .userblock {
    text-align: center; 
    background: #fff;
    border-radius:20px;
    padding:5px;
    position:relative;
    border:1px solid #b2b2b2;
    margin-top:70px;
    padding-top:60px;
}

#avatar-top img, .userblock img {
    width:90%;
    border-radius:50%;
    position:absolute;
    top:-80px;
    left:10px;
}

#avatar-top h3, #avatar-top h4, .userblock h3, .userblock h4 {
    font-weight: normal;
}

#avatar-top h3, .userblock h3 {
    font-size:20px;
    color: #adadad;
}


#avatar-top h4, .userblock h4 {
    font-size:16px;
    color: #bcbcbc;
}

.btn-add, .btn-blue {
    background: #85c4ec;
    color: #fff;
    padding:5px;
    border-radius:5px;
    outline:0;
    border:0;
}

.btn-blue {
    background: #283b47;
}

#profile-avatar .settings .btn-blue {
    padding: 10px 15px;   
}

.btn-blue:hover {
    color: #bbdef5;   
}

#avatar-top .edit_link {
    color: #7a7a7a;
    font-size:13px;
    margin-top:10px;
    display:block;
    margin-bottom:5px;
}

#profile-avatar .balance {
    color: #85c4ec;
    line-height: 30px;
}

#profile-avatar .settings .settings-item {
    background: #fff;
    border: 1px solid #b2b2b2;
    padding:5px;
    padding-left:30px;
    color: #878787;
    font-size:12px;
    position: relative;
    border-radius:5px;
    margin-bottom: 10px;
}

#profile-avatar .settings .settings-item button {
    position: absolute;
    top:15%;
    left:-20px;
}
#submit_over {
    position: relative;
}
#submit_status {
    background: #fff;
    padding:15px;
    position: relative;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    z-index: 10;
}
#submit_status span {  
    background: url('../images/left-arrow.png') no-repeat;
    top:20px;
    position: absolute;
    left:-11px;
    display:block;
    width:12px;
    height:21px;
}

#submit_status input {
    outline:0;
    border:0;
    width:100%;
    color:#d5d5d5;
    padding:5px;
}

#submit_over .btn-add {
    position:absolute;
    bottom:-25px;
    right:0;
    border-radius:0 0 10px 10px;
    padding-top:10px;
}
.seasons-list li {
    float: left;
    margin: 0 10px 10px 0;
}
.season {
    line-height:40px;
    border-radius:10px;
    outline: 0;
    background: #fff;
    border:1px solid #ddd;
    border-bottom:3px solid #ddd;
}
.spring {
    border-bottom:3px solid #9eff92;   
}
.spring:hover {
    background: #9eff92;
    border-color:#9eff92;
}
.autumn {
    border-bottom:3px solid #fba960;  
}
.autumn:hover {
    background: #fba960;  
    border-color:#fba960;
}
.summer {
    border-bottom:3px solid #fff55d;  
}
.summer:hover {
    background: #fff55d;
    border-color:#fff55d;
}
.winter {
    border-bottom:3px solid #a4d3f1;  
}
.winter:hover {
    background: #a4d3f1; 
    border-color:#a4d3f1;
}

.selected_list li {
    float:left;
    margin:0 10px 5px 0;
    background:#f2f2f2;
    border:1px solid #b2b2b2;
    padding:5px;
    border-radius: 5px;
}
.surprices li {
    margin-bottom: 10px;
}
.about-well {
    width:90%;
    padding:10px;
    min-height: 150px;
    background: #fff;
    border:1px solid #b2b2b2;
    border-radius:10px;
    margin-bottom:20px;
    font-size:13px;
    position:relative;
}
.table-about td {
    border-top:0 !important;
    border-bottom:1px dotted #ddd;
    font-size:13px;
    color:#b2b2b2;
}
.sign {
    background: #85c4ec;
    width:170px;
    height:170px;
    color:#fff;
    text-align: center;
    border-radius:50%;
    position: absolute;
    top:-10px;
    right:-40px;
}
.sign .inner {
    padding-top: 30px;
}
.edit_link {
    color: #b2b2b2;
}
.userblock {
    margin-top: 90px;   
}
.userblock h3 {
    font-size:16px;
}
.userblock h4 {
    font-size:14px;   
}